#root {
  max-width: 1280px;
  margin: 0 auto;

}

.card {
  padding: 2em;
}
.darg-box{
  box-sizing: border-box;
  padding: 1rem;
  width: 445px;
  margin-top: 20px;
  height: 150px;
  border-radius: 4px;
  color: #888;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba($color: #444, $alpha: .5);
  white-space: pre-line;
}
.currt-name{
  margin-top: 10px;
  color: #888;
}
.read-the-docs {
  color: #888;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
